* {
  /* background: black; */
  /* background: #2D2D2D; */
  font-family: Snell Roundhand, cursive;
}
body {
  /* color: white;
    background: black; */
  /* font-family: cursive; */
  /* font-family: Arial, Arial, system-ui;
    text-align: center;
    font-size: 15px; */
  /* line-height: 17px; */
  font-size: 36px;
  color: black;
  font-family: Helvetica, Arial, system-ui;
  /* padding: 10px 15px 10px 15px; */
}
p {
  font-size: 17px;
  color: rgb(64, 206, 250);
  font-family: Helvetica, Arial, system-ui;
  text-align: left;
  padding: 5;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.col1 {
  /* width:280px; */
  width: 20%;
}
.col2 {
  width: 10px;
  font-size: 10px;
  text-align: center;
}
.col3 {
  width: 60%;
  float: left;
  /* text-align: center;
  font-size: 15px; */
}
#api-frame {
  display: block;
  position: absolute;
  /* left: 0px; */
  left: 20%;
  /* width:calc(100%-1px); */
  width: 75%;
  /* padding: 10px; */
  top: 0px;
  height: 800px;
  border: 0;
}
#sectionImage {
  position: absolute;
  height: 180px;
  /* background: black; */
  text-align: center;
  top: 70px;
  width: 99%;
}
#consigne {
  position: absolute;
  height: 800px;
  background: black;
  text-align: center;
  /* top: 230px; */
  left: 8px;
  top: 0px;
  width: 25%;
}
#cacheHaut {
  position: absolute;
  height: 10px;
  /* background: black; */
  text-align: center;
  top: 450px;
  width: 99%;
}
* {
  /* background: black; */
  box-sizing: border-box;
}
#bagniere {
  position: absolute;
  /* height: 200px; */
  height: 70px;
  width: 99%;
  background: black;
  text-align: center;
  top: 0px;
}
#api-frameRect {
  display: block;
  position: absolute;
  /* left: 0px; */
  left: 50px;
  width: 90%;
  /* padding: 10px; */
  height: 700px;
  border: 0;
  top: 550px;
}
#cacheBas {
  position: absolute;
  height: 65px;
  top: 750px;
  float: right;
  width: 99%;
  font-size: 14px;
  background: black;
  /* color: rgb(206, 26, 206); */
  text-align: center;
  /* padding: 15px; */
}
#cacheDroit {
  position: absolute;
  height: 812px;
  background: black;
  left: 95%;
  top: 0px;
  width: 5%;
}
#popup {
  display: none;
  position: absolute;
  top: 395px;
  background-color: black;
  padding: 1px 15px 1px 15px;
  border: 1px solid #4c3416;
  border-radius: 5px;
}

.title {
  position: absolute;
  top: 10px; /* Ajustez cette valeur pour décaler verticalement */
  left: 150px; /* Ajustez cette valeur pour décaler horizontalement */
  font-size: 24px;
  font-weight: bold;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(64, 206, 250, 0.8);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgb(0, 174, 255);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* The popup (hidden by default) */
.popup {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.popup-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  font-size: 24px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
